#menu {
  margin-bottom: @padding-normal;

  ul {
    list-style: none;
    margin:  0;
    padding: 0;

    li {
      margin:  0;
      padding: 0;
      display: inline-block;
      font-family: 'Oswald', sans-serif;
      font-weight: 700;
      text-transform: uppercase;
      font-size:   38px;
      line-height: 38px;

      a, a:link, a:visited, a:active {
        padding: 5px @padding-small 8px @padding-small;
        margin-right: (@padding-normal + 6px);
        color: @color-accent;
        border-radius: @border-radius-normal;
      }

      &:hover a {
        color: @color-accent-light;
      }

      &.current-menu-item a {
        color: @color-background;
        background-color: @color-accent;
      }

      &:last-of-type a {
        margin-right: 0;
      }
    }
  }
}
