/* Colors */
@color-background:       #EBEBEB;
@color-background-light: lighten(@color-background, 7%);
@color-background-dark:  darken(@color-background,  8%);
@color-primary:          #795548;
@color-primary-light:    lighten(@color-primary, 7%);
@color-accent:           #009688;
@color-accent-light:     lighten(@color-accent,  7%);
@color-accent-lighter:   lighten(@color-accent, 55%);
@color-accent-dark:      darken(@color-accent,  10%);
@color-white:            #fff;

@color-font-main:       #212121;
@color-font-main-light: lighten(@color-font-main, 20%);
@color-font-muted:      #b4b4b4;

/* Font Sizes */
@font-size-normal: 15px;
@font-size-small:  13px;

/* Paddings */
@padding-small:  10px;
@padding-normal: 20px;
@padding-big:    50px;
@pading-page:    30px;

@border-width:         3px;
@border-radius-normal: 5px;

/* Dimensions */
@breakpoint-big: 800px;

/* Fonts */
@font-face {
  font-family: Nunito;
  src: url(fonts/nunito-light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: Nunito;
  src: url(fonts/nunito-regular.ttf);
  font-weight: 400;
}
