/* Colors */
@color-background: #ebebeb;
@color-background-light: lighten(@color-background, 7%);
@color-background-dark: darken(@color-background, 8%);
@color-primary: #795548;
@color-primary-light: lighten(@color-primary, 7%);
@color-accent: #009688;
@color-accent-light: lighten(@color-accent, 7%);
@color-accent-lighter: lighten(@color-accent, 55%);
@color-accent-dark: darken(@color-accent, 10%);
@color-white: #fff;
@color-font-main: #212121;
@color-font-main-light: lighten(@color-font-main, 20%);
@color-font-muted: #b4b4b4;

/* Font Sizes */
@font-size-normal: 15px;
@font-size-small: 13px;

/* Paddings */
@padding-tiny: 5px;
@padding-small: 10px;
@padding-normal: 20px;
@padding-big: 50px;
@pading-page: 30px;
@border-width: 3px;
@border-radius-normal: 5px;

/* Dimensions */
@breakpoint-big: 800px;

/* Fonts */
@font-face {
  font-family: Nunito;
  src        : url("fonts/nunito/nunito-light-webfont.eot");
  src        : url("fonts/nunito/nunito-light-webfont.eot?#iefix") format('embedded-opentype'), url("fonts/nunito/nunito-light-webfont.woff2") format('woff2'), url("fonts/nunito/nunito-light-webfont.woff") format('woff'), url("fonts/nunito/nunito-light-webfont.ttf") format('truetype'), url("fonts/nunito/nunito-light-webfont.svg#nunitolight") format('svg');
  font-weight: 300;
  font-style : normal;
}

@font-face {
  font-family: Nunito;
  src        : url("fonts/nunito/nunito-regular-webfont.eot");
  src        : url("fonts/nunito/nunito-regular-webfont.eot?#iefix") format('embedded-opentype'), url("fonts/nunito/nunito-regular-webfont.woff2") format('woff2'), url("fonts/nunito/nunito-regular-webfont.woff") format('woff'), url("fonts/nunito/nunito-regular-webfont.ttf") format('truetype'), url("fonts/nunito/nunito-regular-webfont.svg#nunitoregular") format('svg');
  font-weight: 400;
  font-style : normal;
}
